utilitariosAdicionaServico/wsdls/NfeAutorizacao-xsd.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao">

<xs:element name="nfeAutorizacaoLoteResult">
<xs:complexType mixed="true">
<xs:sequence>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="nfeCabecMsg" type="nfeCabecMsg"/>

<xs:element name="nfeDadosMsg" type="nfeAutorizacaoLoteResult"/>

<xs:element name="nfeDadosMsgZip" type="xs:string"/>

<xs:complexType name="nfeAutorizacaoLoteResult" mixed="true">
<xs:sequence>
<xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nfeCabecMsg">
<xs:sequence>
<xs:element name="cUF" type="xs:string" minOccurs="0"/>
<xs:element name="versaoDados" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:anyAttribute namespace="##other" processContents="skip"/>
</xs:complexType>
</xs:schema>